/*
  =========================================

	  ALERTS

    -> Alert boxes and any other notification box

	=========================================
*/

// -------------------------------------
//   Variables
// -------------------------------------
$alert-status-color: (
  'notice': #ADD8E6,
  'warning': #F0E68C,
  'error': #CD5C5C,
  'success': #66CDAA
);
$alert-toast-positions: (
  'top-left': (
    top: 0,
    left: 0
  ),
  'top-right': (
    top: 0,
    right: 0
  ),
  'bottom-right': (
    bottom: 0,
    right: 0
  ),
  'bottom-left': (
    bottom: 0,
    left: 0
  )
);
$alert-toast-animation-type: 'fade';

.c-alert {
  position: fixed;
  padding: toem(20px);

  // Toast type
  &--toast {
    visibility: hidden;
    max-width: toem(330px);
    margin: toem(20px);
    border-radius: toem(7px);
    opacity: 0;

    @if $alert-toast-animation-type == 'fade' {
      animation: fade-in 1s forwards, fade-out 1s forwards 5s;
    }

    // Iterate through the positions map
    @each $position, $coords in $alert-toast-positions {
      @at-root {
        .c-alert--toast-#{$position} {
          top: map-get($coords, top);
          right: map-get($coords, right);
          bottom: map-get($coords, bottom);
          left: map-get($coords, left);
        }
      }
    }
  }

  @at-root {
    @each $status, $color in $alert-status-color {
      .c-alert--#{$status} {
        color: shade($color, 30%);
        background-color: $color;
        border: 1px solid shade($color, 10%);
      }
    }
  }

  // Hello bar type
  &--bar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transform: translateY(-100%);
    animation: slide-down 1s forwards, slide-up 1s forwards 5s;
  }
}
