$inputs-height: toem($msuif-font-size) * 3;
$inputs-text-color: $msuif-font-color;
$inputs-placeholder-color: blue;
$inputs-padding: toem(7px);
$inputs-border-radius: toem(5px) !default;
$inputs-border: 1px solid #666 !default;
$inputs-background-color: #eee !default;
$inputs-focus: red !default;

@mixin inputs($style) {
  @if not index(block inline-block fixed, $style) {
    @error "Inputs style must be either `block`, `inline-block` or `fixed`.";
  }

  @include placeholder(){
    color: $inputs-placeholder-color;
  }

  input:not([type="radio"]),
  input:not([type="checkbox"]),
  input:not([type="submit"]),
  input:not([type="reset"]),
  textarea {
    padding: 0 $inputs-padding;
    font: $msuif-font;
    height: $inputs-height;
    line-height: #{toem($msuif-font-size)};
    color: $inputs-text-color;
    background-color: $inputs-background-color;
    border: $inputs-border;
    border-radius: $inputs-border-radius;

    @if $style == block or $style == inline-block {
      display: $style;
    }
    @else {
      display: inline-block;
      width: 70%;
    }

    @if $style == block {
      width: 100%;
    }
  }

  textarea {
    height: auto;
  }
}
